/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.tab {
    -fx-background-color: #d2e097 ;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 10 0 20;
}

.tab:selected {
    -fx-background-color: #f9faef ;
}

.tab:hover {
    -fx-background-color: #f9faef ;
}


.tab-label {
    -fx-font-family: "HCR Dotum";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #6f8001;
}


.tab-header-background {
    -fx-background-color: #d2e097;
    -fx-border-color : #d2e097;
}

